.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}