.place__website_url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding-bottom: 12px;
}

@media screen and (max-width: 320px) {
  .place__website_url-heading {
    padding-left: 16px;
  }
}