.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-bottom: 64px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 365px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}