.place__link {
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: opacity .4s ease;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .place__link {
    padding-left: 16px;
  }
}