.footer {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    align-items: flex-start;
  }
}